<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <LinkTo @route="index">
    <div class="navbar-brand">Kanji Cards</div>
  </LinkTo>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <LinkTo @route="index">
          <div class="nav-link" href="/">Home <span class="sr-only">(current)</span></div>
        </LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="index">
          <div class="nav-link">List of Kanji</div>
        </LinkTo>
      </li>
      <li>
        {{!-- temporary fix --}}
        {{!-- <LinkTo @route="account" @model={{5ed98afe91aaa6517a53d9cc}}>
            <div class="nav-link">Your Cards</div>
        </LinkTo> --}}
          <a href="/account/5ed98afe91aaa6517a53d9cc" class="nav-link">Your Cards</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter Kanji By Grade
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <LinkTo @route="grade" @query={{1}} @model={{1}}>
            <div class="dropdown-item">Grade 1</div>
          </LinkTo>
            <LinkTo @route="grade" @model={{2}}>
          <div class="dropdown-item">Grade 2</div>
          </LinkTo>
            <LinkTo @route="grade" @model={{3}}>
          <div class="dropdown-item">Grade 3</div>
          </LinkTo>
            <LinkTo @route="grade" @model={{4}}>
          <div class="dropdown-item">Grade 4</div>
          </LinkTo>
           <LinkTo @route="grade" @model={{5}}>
          <div class="dropdown-item">Grade 5</div>
          </LinkTo>
           <LinkTo @route="grade" @model={{6}}>
          <div class="dropdown-item">Grade 6</div>
          </LinkTo>
           <LinkTo @route="grade" @model={{7}}>
          <div class="dropdown-item">Grade 7</div>
          </LinkTo>
           <LinkTo @route="grade" @model={{8}}>
          <div class="dropdown-item">Grade 8</div>
          </LinkTo>
        </div>
      </li>
    </ul>
    {{!-- <form class="form-inline my-2 my-lg-0">
      <Input @value={{this.query}} class="form-control mr-sm-2"/>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> --}}
  </div>
</nav>