{{!-- <Flashcards @kanjis={{@model}} @hideSearch=true/> --}}
<div class="container">
    {{#each @model as |kanji|}}
      <div class="m-5">
        <Kanji::Detailed @kanji={{kanji}}/>
      </div>
    {{/each}}
</div>

